<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form th:action="@{/login}" method="post">
		 <fieldset>
        <div>
            <label for="username">User:</label>
            <input type="text" id="username" name="username" />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" />
        </div>
        <div>
            <input type="submit" value="Log in" />
        </div>
        <p th:if="${param.error}">
            Invalid username or password.
        </p>
        <p th:if="${param.logout}">
            You have been logged out.
        </p>
        </fieldset>
    </form>
</body>
</html>
